   
        <div class="container">
            <footer>
                <div class="">
                    <hr>
                    <h5>Developed by S. Polan</h5>
                </div> 
            </footer>
        </div>         
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
    </html>