<%- include('partials/top'); -%>

    <div class="container mt-5">
        <h1>Email Sent! Thank You for Reaching Out!</h1>
        <h4>
            <a href="contact">Contact</a><span> | </span>
            <a href="/">Home</a><span> 
        </h4>
    </div>

<%- include('partials/bottom'); -%>