<%- include('partials/top'); -%>

    <div class="container mt-5">
        <h1><%= msg %></h1>
        <p><a href="login">Login</a><a href="register">Register</a><a href="/">Home</a></p>
    </div>

<%- include('partials/bottom'); -%>